body 
{
	font-size: 22px;
}

.header 
{
	width: 50%;
	margin: 40px auto 0px;
	color: white;
	background: #483D8B;
	text-align: center;
	border: 1px solid gray;
	border-radius: 8px 8px 0px 0px;
}

.wrapper
{
	width: 50%;
	margin: 0px auto;
	border: 2px solid gray;
}

.wrapper:after 
{
	content: "";
	display: block;
	clear: both;
}

.words 
{
	width: 29%;
	background: #dcdcdc;
	padding-top: 10px;
	float: left;

}

.word
{
	width: 67%%;
	float: left;
	padding-left: 10px;
}

#word_list 
{
	max-height: 400px;
	overflow-y: scroll;
}

li 
{
	list-style-type: none;
	line-height: 1.4em;

}

li:hover 
{
	cursor: pointer;
	color: #483D8B;
}

ul 
{
	margin-left: -10px;

}

h3
{
	color: #483D8B;
}


#search
{
	margin-left: 10px;
	width: 60%;
	padding: 5px;
	height: 13px;
}

button 
{
	height: 28px;
	background: #483D8B;
	color: white;
	border: none;
	border-radius: 5px;

}